*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar-container{
    display: flex;
    justify-content: space-around;
    background: rgb(23, 23, 39);
    padding: 10px;
    width: 90%;
}
.logo-name{
    color: white;
    font-size: 20px;
}
.menu{
    display: flex;
    gap: 15px;
}
.link{
    text-decoration: none;
    color: rgb(202, 200, 200);
}
.link:hover{
    color: white;
}

@media(max-width: 550px){
    .navbar-container{
        flex-direction: column;
        gap: 30px;
    }
    .menu{
        flex-direction: column;
    }
}